<p>Olá <%= @resource.email %>!</p>

<p>Você solicitou a recuperação de senha, clique no link abaixo para fazer o cadastro de uma nova senha</p>

<p><%= link_to 'Alterar minha senha', frontend_url('auth/password/edit', reset_password_token: @token) %></p>

<p>Se você não solicitou a alteração de senha, basta ignorar este email.</p>
<p>Sua senha não será alterada caso não acesse este link.</p>
