<p>Olá <%= @resource.email %>!</p>

<p>Bloqueamos seu acesso por conta de uma atividade suspeita ou por tentativas excessivas de acesso sem sucesso.</p>

<p>Clique no link abaixo para o desbloqueio de sua conta:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, unlock_token: @token) %></p>
